.modal.fade#unsupported_browser_modal{role: 'toggle'}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
        %h4.modal-title 
          Unsupported browser detected
      .modal-body
        For the best experience, follow either of these links to download Firefox or Google Chrome:
        .container-fluid
          .row.browser-links
            .col-md-3
            .col-md-3.center-block
              = link_to image_tag('firefox.png', width: "100%", height: "100%"), "https://www.mozilla.org/en-US/firefox/new/", target: "_blank"
            .col-md-3.center-block
              = link_to image_tag('chrome.png', width: "100%", height: "100%"), "http://www.google.com/chrome/", target: "_blank"
            .col-md-3